<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848384956279-p2gdl41tvncsos5qug9mlp1lh8dofpp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848384956279-p2gdl41tvncsos5qug9mlp1lh8dofpp4</string>
	<key>API_KEY</key>
	<string>AIzaSyBNSSbkffOpUlNqkSSdZm8B3Jdca-zPNr0</string>
	<key>GCM_SENDER_ID</key>
	<string>848384956279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chaalak.blndr</string>
	<key>PROJECT_ID</key>
	<string>chaalak-a6e24</string>
	<key>STORAGE_BUCKET</key>
	<string>chaalak-a6e24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848384956279:ios:36a792479ad259dbad7372</string>
</dict>
</plist>